[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

character-set-server=utf8mb4

max_allowed_packet = 256M

#log_slow_queries = 1
#long_query_time = 0
#slow_query_log_file = "/tmp/slow.log"

innodb_flush_log_at_trx_commit = 0
innodb_flush_method=O_DIRECT

innodb_buffer_pool_size = 4G

innodb_log_buffer_size=32M

sort_buffer_size=8M

read_rnd_buffer_size=4M

join_buffer_size=3M

read_buffer_size=2M

key_buffer_size=256M


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
